.btn {
  border: none;
  padding: 1.4rem 1.6rem;
  width: 25rem;
  border-radius: 5rem;
  outline: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s all ease-in;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}

.btn:hover {
  box-shadow: 0 0.6rem 0.4rem rgba(0, 0, 0, 0.3);

  transform: scale(1.08);
}
